.footer{
    background-color: #272328;
    color: white;
    margin-top: 5%;
    padding: 3% 
}

.footer h5 {
    color: #ffc107;
}
ul {
    list-style-type: none;
    text-decoration: none;
    float: left;
    margin-right: 20px;
}