nav {
    border-top: 2px solid #ec3e70;
    background-color: #272328;
    color: aliceblue;
  }
.title-hearder{
    color:  #ec3e70;
    font-size: 30px;
}  
.title-hearder:hover{
    color: #ec3e70;
}
.navbar-toggler{
    background-color: white;
}

.navbar-toggler-icon{
    background-color:#ec3e70;
}
.nav-link{
    color: white;
}

.nav-link:hover{
    color:  #ec3e70;
}

.btn{
    background-color: #ec3e70;
    color: white
}

.form-control-search{
    border: 4px solid white;
    border-radius: 20px;
}

.btn:hover{
    background-color: white;
    color: #ec3e70;
}
.nav-item .disabled{
    color: #ec3e70;
}

